
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.refreshButton {
    color: rgb(231, 218, 218);
    background-color: #ce5249;
    font-size: 17px;
    text-align: center;
    padding: 10px 25px;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 3px 3px 5px 1px rgb(112, 44, 44);
    cursor: pointer;
}

.refreshButton:hover {
    color:#ce5249;
    background-color: rgb(231, 218, 218);
}

.addButton {
    color: rgb(231, 218, 218);
    background-color: #ce5249;
    font-size: 17px;
    text-align: center;
    padding: 10px 25px;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 3px 3px 5px 1px rgb(112, 44, 44);
    cursor: pointer;
}

.addButton:hover {
    color:#ce5249;
    background-color: rgb(231, 218, 218);
}

.eachRecipe {
    display: flex;
    padding: 3px;
}

.linkRecetas {    
    text-decoration: none;    
}

.linkRecetas:visited {
    color: none;
    text-decoration: none;
}

.allrecipes {
    display: flex;
    flex-direction: row;
    justify-content: center;   
    flex-wrap: wrap;
    padding: 10px;
    
}